[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Kanda-design
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Kanda-design
	label-Verified = -1..+1 group user/Kanda-design
	push = group user/Kanda-design
	read = group user/Kanda-design
	rebase = group user/Kanda-design
	removeReviewer = group user/Kanda-design
	submit = group user/Kanda-design
[access "refs/heads/*"]
	create = group user/Kanda-design
	push = +force group user/Kanda-design
	pushMerge = group user/Kanda-design
	read = group user/Kanda-design
[access "refs/tags/*"]
	push = group user/Kanda-design
	push = +force group user/Kanda-design
